{% extends "AnhContentBundle:Admin:layout.html.twig" %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h2>{{ categories|length }} categories</h2>

    <form action="{{ url('anh_content_admin_category_delete') }}" method="post" id="fCategories">
        <div class="button_row">
            <a href="{{ url('anh_content_admin_category_add') }}">Create new</a>

            {% if categories %}
                <button class="danger" type="submit">Delete</button>
            {% endif %}
        </div>

        {% if categories %}
            {% for category in categories %}
                <div class="list_row">
                    <div class="list_row_flags">
                        <input type="checkbox" name="id[]" value="{{ category.getId() }}" />
                    </div>

                    <div class="list_row_content">
                        {{ category.getSection() }}
                        &middot;
                        <a href="{{ url('anh_content_admin_category_edit', { 'id': category.getId() }) }}">{{ category.getTitle() }}</a>
                        &middot;
                        <a href="{{ contentUrl(category) }}">{{ category.getSlug() }}</a>

                        <div class="created_updated">
                            Created at: {{ category.getCreatedAt()|date }}
                            &middot;
                            Updated at: {{ category.getUpdatedAt()|date }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@AnhContentBundle/Resources/public/style.css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@jquery_js'
    %}<script src="{{ asset_url }}"></script>{% endjavascripts %}

    <script><!--
        $(function() {
            var check = function() {
                $('#fCategories button[type="submit"]').attr('disabled', $('#fCategories input[name="id[]"]:checked').length == 0);
            };

            $('#fCategories input[name="id[]"]').click(check);

            check();

            $('#fCategories').submit(function(event) {
                if(!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            });
        });
    --></script>
{% endblock %}
