<article class="paperPreview">
    <header>
        <h1>
            <a href="{{ contentUrl(paper) }}">{{ paper.title }}</a>
        </h1>
        <div>
            {{ paper.publishedSince|date }}

            {% if paper.category %}
                &middot; <a href="{{ contentUrl(paper.category) }}">{{ paper.category.title }}</a>
            {% endif %}
        </div>
    </header>

    <div class="preview">
        {{ paper.preview|raw }}
    </div>
</article>
