{% extends "AnhContentBundle:Admin:layout.html.twig" %}

{% block title %}Tags{% endblock %}

{% block content %}
    {% if not pager.isEmpty() %}
        <h2>{{ pager.getTotalRowsCount() }} tags</h2>

        <form action="{{ url('anh_content_admin_tag_delete') }}" method="post" id="fTags">
            <div class="button_row">
                <button class="danger" type="submit">Delete</button>
            </div>

            {% for tag in pager.getResult() %}
                <div class="list_row">
                    <div class="list_row_flags">
                        <input type="checkbox" name="id[]" value="{{ tag.getId() }}" />
                    </div>

                    <div class="list_row_content">
                        <a href="{{ url('anh_content_admin_tag_edit', { id: tag.getId() }) }}">{{ tag.getName() }}</a>
                    </div>
                </div>
            {% endfor %}

            <div id="pager" class="paginator"></div>
        </form>
    {% else %}
        <h2>No tags</h2>
    {% endif %}
{% endblock %}

{% import 'AnhPagerBundle::macro.html.twig' as pagination %}

{% block stylesheets %}
    {{ pagination.stylesheets() }}
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {{ pagination.javascripts() }}
    {{ pagination.init('pager', pager) }}

    <script><!--
        $(function() {
            var check = function() {
                $('#fTags button[type="submit"]').attr('disabled', $('#fTags input[name="id[]"]:checked').length == 0);
            };

            $('#fTags input[name="id[]"]').click(check);

            check();

            $('#fTags').submit(function(event) {
                if(!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            });
        });
    --></script>
{% endblock %}
