{% extends "AnhContentBundle:Admin:layout.html.twig" %}

{% block title %}Tags{% endblock %}

{% block content %}
    {% if not resources.isEmpty() %}
        <h2>{{ resources.getTotalCount() }} tags</h2>

        <form action="{{ url('anh_content_admin_tag_delete') }}" method="post" id="fTags">
            <div class="button_row">
                <button class="danger" type="submit">Delete</button>
            </div>

            {% for tag in resources %}
                <div class="list_row">
                    <div class="list_row_flags">
                        <input type="checkbox" name="id[]" value="{{ tag.id }}" />
                    </div>

                    <div class="list_row_content">
                        <a href="{{ url('anh_content_admin_tag_edit', { id: tag.id }) }}">{{ tag.name }}</a>
                    </div>
                </div>
            {% endfor %}

            {{ anh_paginator_view(resources) }}
        </form>
    {% else %}
        <h2>No tags</h2>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@anh_paginator_css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@jquery_js'
    %}<script src="{{ asset_url }}"></script>{% endjavascripts %}

    <script><!--
        $(function() {
            var check = function() {
                $('#fTags button[type="submit"]').attr('disabled', $('#fTags input[name="id[]"]:checked').length == 0);
            };

            $('#fTags input[name="id[]"]').click(check);

            check();

            $('#fTags').submit(function(event) {
                if(!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            });
        });
    --></script>
{% endblock %}
