{% extends "AnhContentBundle::admin.html.twig" %}

{% block title %}Documents in {{ section }}{% endblock %}

{% block content %}
    <h2>{{ pager.getTotalRowsCount() }} documents in {{ section }}</h2>

    <form action="{{ url('anh_content_admin_document_delete', { 'section': section }) }}" method="post" id="fDocuments">
        <a href="{{ url('anh_content_admin_document_add', { 'section': section }) }}">Create new</a>

        {% if pager.getResult() %}
            <button type="submit">Delete</button>

            {% for document in pager.getResult() %}
                <div>
                    <input type="checkbox" name="id[]" value="{{ document.getId() }}" />
                    <a href="{{ url('anh_content_admin_document_edit', { 'section': section, 'id': document.getId() }) }}">{{ document.getTitle() }}</a>
                    &middot; <a href="{{ url('anh_content_' ~ section ~ '_view', { 'id': document.getId(), 'slug': document.getSlug() }) }}">{{ document.getSlug() }}</a>
                    {% if sections[section].category %}
                        &middot; {{ document.getCategory().getTitle() }}
                    {% endif %}
                    &middot; {{ document.getCreatedAt()|date }}
                    &middot; {{ document.getUpdatedAt()|date }}
                </div>
            {% endfor %}

            <div id="pager" class="paginator"></div>
        {% endif %}
    </form>
{% endblock %}

{% import 'AnhPagerBundle::macro.html.twig' as pagination %}

{% block stylesheets %}
    {{ pagination.stylesheets() }}
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {{ pagination.javascripts() }}
    {{ pagination.init('pager', pager, pagerUrl) }}

    <script><!--
        $(function() {
            var check = function() {
                $('#fDocuments button[type="submit"]').attr('disabled', $('#fDocuments input[name="id[]"]:checked').length == 0);
            };

            $('#fDocuments input[name="id[]"]').click(check);

            check();

            $('#fDocuments').submit(function(event) {
                if(!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            });
        });
    --></script>
{% endblock %}
