{% extends "AnhContentBundle:Admin:layout.html.twig" %}

{% import 'AnhPagerBundle::macro.html.twig' as pagination %}
{% import _self as taggable %}

{% block title %}Papers in {{ section }}{% endblock %}

{% block content %}
    <h2>{{ pager.getTotalRowsCount() }} papers in {{ section }}</h2>

    <form action="{{ url('anh_content_admin_paper_delete', { 'section': section }) }}" method="post" id="fPapers">
        <div class="button_row">
            <a href="{{ url('anh_content_admin_paper_add', { 'section': section }) }}">Create new</a>

            {% if not pager.isEmpty() %}
                <button class="danger" type="submit">Delete</button>
            {% endif %}
        </div>

        {% if not pager.isEmpty() %}
            {% for paper in pager.getResult() %}
                <div class="list_row">
                    <div class="list_row_flags">
                        <input type="checkbox" name="id[]" value="{{ paper.getId() }}" />

                        <a href="{{ url('anh_content_' ~ section ~ '_view', { 'id': paper.getId(), 'slug': paper.getSlug() }) }}"><i class="fa fa-eye"></i></a>

                        {% if paper.getIsDraft() %}
                            <i class="fa fa-pencil is-draft"></i>
                        {% endif %}

                        {% if paper.getImage() %}
                            <i class="fa fa-picture-o has-image"></i>
                        {% endif %}
                    </div>

                    <div class="list_row_content">
                        <a href="{{ url('anh_content_admin_paper_edit', { 'section': section, 'id': paper.getId() }) }}">{{ paper.getTitle() }}</a>

                        <div>
                            {% if sections[section].category %}
                                <span>Category:</span> {{ paper.getCategory().getTitle() }}
                            {% endif %}

                            {% if sections[section].publishedSince %}
                                <span>Published since:</span> {{ paper.getPublishedSince()|date }}
                            {% endif %}
                        </div>

                        {% if sections[section].preview %}
                            <div class="preview">{{ paper.getPreview()|striptags[:100] ~ '...' }}</div>
                        {% endif %}

                        {% if sections[section].tags and not paper.getTags().isEmpty() %}
                            <div class="tags">{{ taggable.listTags(paper.getTags()) }}</div>
                        {% endif %}

                        <div class="created_updated">
                            Created at: {{ paper.getCreatedAt()|date }}
                            &middot;
                            Updated at: {{ paper.getUpdatedAt()|date }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div id="pager" class="paginator"></div>
        {% endif %}
    </form>
{% endblock %}

{% block stylesheets %}
    {{ pagination.stylesheets() }}
    {% stylesheets
        '@AnhContentBundle/Resources/public/style.css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {{ pagination.javascripts() }}
    {{ pagination.init('pager', pager) }}

    <script><!--
        $(function() {
            var check = function() {
                $('#fPapers button[type="submit"]').attr('disabled', $('#fPapers input[name="id[]"]:checked').length == 0);
            };

            $('#fPapers input[name="id[]"]').click(check);

            check();

            $('#fPapers').submit(function(event) {
                if(!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            });
        });
    --></script>
{% endblock %}

{% macro listTags(tags, url) %}
    <i class="fa fa-tags"></i>
    <ul>
        {% for tag in tags %}
            <li>
                {% if url %}
                    <a href="{{ url|replace({ '%name%': tag.getName() }) }}">{{ tag.getName() }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    {{ tag.getName() }}{% if not loop.last %}, {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
